*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito Sans", sans-serif;
}

:root {
  /* Colors */
  --dm-element: #2b3945;
  --dm-bg: #202c37;
  --text: #111517;
  --input: #858585;
  --lbg: #fafafa;
  --bg: #ffffff;

  /* Typography  */
  font-size: 14px;

  --icon-w: 1.5rem;

  --box-shadow: 0 0 4px 3px rgba(0, 0, 0, 0.1);

  --br: 0.5rem;
}

body {
  background-color: var(--bg);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--text);
}
