.country-page {
  position: fixed;
  inset: 6.77rem 0 0 0;
  transform: translateX(100%);
  background-color: var(--bg);
  transition: 0.4s;
}

.country-information {
  max-width: 102rem;
  padding: 2em 5em;
  margin: 0 auto;
}

.back-btn {
  margin: 4rem 0;
  padding: 1em 4em;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 1.2em;
  background-color: var(--lbg);
  box-shadow: var(--box-shadow);
  border-radius: var(--br);
  cursor: pointer;
}

.back-btn img {
  width: 2rem;
}

.back-btn span {
  font-size: 1.5rem;
  font-weight: 800;
}

.main-container {
  margin-top: 3rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10rem
}

.big-flag {
  width: 45rem;
  height: 30rem;
  box-shadow: var(--box-shadow);
}

.detailed-details {
  align-self: center;
}

.detailed-details h1 {
  font-size: 3rem;
  margin-bottom: 0.6em;
}

.facts-and-figures {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.5em;
}

.col-1-span, .col-2-span {
  display: block;
  font-size: 1.2rem;
  margin-bottom: 1em;
}

.border-countries {
  font-size: 1.2rem;
}