.country-page {
  position: fixed;
  inset: 6.77rem 0 0 0;
  transform: translateX(100%);
  background-color: var(--bg);
  transition: 0.4s;
}

.country-information {
  max-width: 102rem;
  padding: 2em 5em;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.back-btn {
  width: max-content;
  padding: 1em 4em;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.2em;
  background-color: var(--lbg);
  box-shadow: var(--box-shadow);
  border-radius: var(--br);
  cursor: pointer;
}

.back-btn img {
  width: 2rem;
}

.back-btn span {
  font-size: 1.5rem;
  font-weight: 800;
}
