header {
  width: 100%;
  background-color: var(--bg);
  box-shadow: var(--box-shadow);
}

.header {
  padding: 2em 5em;
  margin: 0 auto;
  width: 100%;
  max-width: 102rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  font-size: 2rem;
}

.theme {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
  cursor: pointer;
}

.theme:hover {
  background-color: var(--lm-input);
}

.theme span {
  font-size: 1.5rem;
  font-weight: 600;
  pointer-events: none;
}

.moon {
  width: var(--icon-w);
}
